.dropdown {

    label {
        display: block;
        margin-bottom: 2vh;
        font-size: 1.5rem;
    }

    select {
        background-color: #fff;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
        width: 100%;
        border: none;
        font-size: 1.3rem;
        padding: 4%;
        box-sizing: border-box;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .dropdown {

        select {
            font-size: 1rem;
        }
    }
}