@import "../../utils/styles.scss";

.button {
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 5%;
    border: none;
    margin: 5vh 0;
    cursor: pointer;
}

.button:hover {
    color: #95ffd4;
}